* {
    margin: 0;
    padding: 0;
}

body {
    width: 970px;
}

.wrapper {
    background-color: #224a6b;
}

.logo {
    width: 675px;
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
}

.search {
    width: 278px;
    height: 92px;
    display: inline-block;
    padding-top: 8px;
    vertical-align: top;
    /*background-color: black;*/
}

.search p {
    text-align: right;
    margin: 0 auto;
    width: 200px;
    color: white;
    padding-right: 10px;
    margin-bottom: 4px;
    /*margin: 0 auto;*/
    font-size: .7em;
}

.search form {
    width: 265px;
    height: 58px;
    border-radius: 10px;
    background-color: #444444;
    box-shadow: 1px 1px 1px black;
}

.search-bar {
    width: 210px;
    line-height: 60px;
    margin: 0 auto;
}

.search-bar input[type="text"] {
  width: 150px;
  height: 28px;
  text-align: center;
  border-top: 1px solid grey;
  margin-bottom: 2px;
}

.search-bar input[type="submit"] {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  margin-left: 2px;
  color: white;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #265175;
}

.nav {
    width: 770px;
    height: 42px;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #457dad;
    box-shadow: 2px 2px 2px black;
}

.nav ul {
    text-align: center;
    line-height: 45px;
    font-size: 110%;
}

.nav li {
    display: inline;
    padding: 0 20px;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.main-content {
    color: white;
    font-size: .85em;
    margin: 0 auto;
    text-align: center;
    width: 852px;
    height: 305px;
}

.bottomnav {
    width: 380px;
    display: inline-block;
    color: black;
    font-size: .9em;
    text-align: center;
    vertical-align: top;
    margin: 10px 20px 0 20px;
    padding-left: 20px;
    border-top: 4px solid #75a8d3;
}

.sidenav {
    display: inline-block;
    width: 190px;
    /*line-height: 2;*/
    margin-left: 20px;
    vertical-align: top;
    padding-top: 30px;
}

.sidenav ul {
    list-style: none;
    line-height: 1.5;
}

.sidenav ul a {
  color: white;

}

.about {
    display: inline-block;
    margin-top: 20px;
    width: 520px;
    padding: 0 50px;
}

.colored {
  padding-top: 10px;
  color: #F3CB46;
  font-size: 1.3em;
  line-height: 30px;
  font-style: italic;
  font-weight: 200;
}

.alone {
  padding-top: 10px;
  font-size: 14px;
}
.mid-content {
    background-color: white;
}

.footer {
  height: 100px;
    text-align: center;
    background-color: #224a6b;
}

.bottom li {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: inline-block;
    padding-top: 50px;
}

.bottom li a {
    text-decoration: none;
    color: #457dad;
}

.copyright {
    text-align: center;
    font-size: 8px;
    color: #457dad;
    margin-bottom: 5px;
}
