/** {
  margin: 0;
  padding: 0;
}*/
body {
  background-color: #224A6B;
}

.menu {
  display: inline;
  background-color: #346FA1;
}
.search_bar {
  margin-left: 100px;
}

.copyright {
  text-align: center;
  font-size: 8px;
}

.footer {
  text-align: center;
  list-style: none;
}
.bottom li {
  list-style: none;
  margin: 0;
  padding: 15px;
  display: inline-block;
}
.mid-content {
  background-color: white;
}
