* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A305F;
}

h1 {
    padding: 10px;
    color: #BFD3E4;
}

h2 {
    padding: 10px 0;
}

.list {
    list-style-position: outside;
    margin: 10px 20px;
}
a {
  color: #12dbe4;
}

.wrapper {
    /*width: 970px;*/
    padding: 10px;
    margin: 0 auto;
}


/*.nav-bar .main-content {
  display: inline-block;
}*/

.header {
    background-color: #E2001C;
    padding: 10px;
    border-radius: 10px;
}

.nav-bar {
    background-color: #007F8F;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 200px;
    vertical-align: top;

}

span {
    color: ##6C61C0;
}

.footer {
    background-color: #5C6574;
    padding: 25px;
    border-radius: 10px;
    clear: both;
    color: #BFD3E4;
    height: 20px;
    margin: 0 auto;
}

.main-content {
    background-color: #0C1722;
    color: #BFD3E4;
    display: inline-block;
    width: 1100px;
    border-radius: 15px;
    padding: 12px;
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
    /*clear: both;*/
    vertical-align: top;
}

.nav {
    margin-left: 34px;
    list-style-position: inside;
    list-style-type: circle;
    color: #BFD3E4;
  }
.side-nav {
  list-style-position: inside;
  color: #BFD3E4;
}
