/** {
  margin: 0;
  padding: 0;
}*/
body {
  background-color: #224A6B;
  width: 970px;
}

.menu {
  display: inline;
  background-color: #346FA1;
  position: relative;
}
.search_bar {
  margin: 0 auto;
  float: right;
  display: inline-block;
  background-color: black;
}

.copyright {
  text-align: center;
  font-size: 8px;
}

.footer {
  text-align: center;
  list-style: none;
}
.bottom li {
  list-style: none;
  margin: 0;
  padding: 15px;
  display: inline-block;
}
.mid-content {
  background-color: white;
}
