body {
    width: 970px;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.globe {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -14px;
}

.title {
    font-size: 34px;
    display: inline-block;
    vertical-align: bottom;
}

.web {
    background-color: #3472a2;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMjQ2OTlkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC4xMDIiLz48c3RvcCBzdG9wLWNvbG9yPSIjNGY4MmFhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MDYiLz48c3RvcCBzdG9wLWNvbG9yPSIjNGY4MmFhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC41MDYiLz48c3RvcCBzdG9wLWNvbG9yPSIjMjQ2OTlkIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMC44NCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.102, rgb(36, 105, 157)), color-stop(0.506, rgb(79, 130, 170)), color-stop(0.506, rgb(79, 130, 170)), color-stop(0.84, rgb(36, 105, 157)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(bottom, rgb(36, 105, 157) 10.2%, rgb(79, 130, 170) 50.6%, rgb(79, 130, 170) 50.6%, rgb(36, 105, 157) 84%);
    /* IE10+ */
    background-image: linear-gradient(to top, rgb(36, 105, 157) 10.2%, rgb(79, 130, 170) 50.6%, rgb(79, 130, 170) 50.6%, rgb(36, 105, 157) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(36, 105, 157) 10.2%, rgb(79, 130, 170) 50.6%, rgb(79, 130, 170) 50.6%, rgb(36, 105, 157) 84%);
    height: 20px;
    font-size: 28px;
    color: white;
    padding: 15px 0 20px 5px;
    margin: 0 0 5px 0;
}

.blue {
    color: #67C0CE;
}

.red {
    color: red;
    font-weight: bold;
}

.sidebar {
    width: 200px;
    vertical-align: top;
    display: inline-block;
    margin: 20px 0 0 2px;
}

.sidebar p {
    margin: 5px 0;
    /*display: block;*/
}

.sidebar input {
    display: block;
    width: 80%;
    height: 28px;
    margin: 0 auto;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 4px;
    padding: 5px;
    box-shadow: 2px 2px 2px gray;
    text-transform: uppercase;
    font-size: 12px;

}

.sidebar .blue-btn {
  background-color: #437DAD;
}

.sidebar .orange-btn {
  background-color: #EB8B29;
}
.ad {
    width: 100%;
    background-image: url(images/ad_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 0;
    margin-top: 25px;
}

.ad img {
    margin: 0 auto;
    max-width: 75px;
    display: inherit;
    display: block;
    padding-bottom: 10px;
}

.ad p {
    color: white;
    font-size: 26px;
    text-align: center;
    font-weight: lighter;
}

.ad .learn-more {
    background-color: #33C6DD;
    width: 80%;
    border: none;
    padding: 3px 10px;
    margin: 15px;
}

.content {
    display: inline-block;
    width: 630px;
    vertical-align: top;
    padding: 0 5px 0 40px;
}

.home {
    display: inline-block;
    vertical-align: top;
    font-size: small;
    padding: 10px;
}

.home img {
    width: 15px;
}

.home p {
    display: inline;
}

.phone {
    /*position: relative;*/
    display: inline-block;
    padding: 1px 5px 10px;
    margin-left: 395px;
}

.number {
    display: inline-block;
}

.mid-section {
    padding-bottom: 10px;
    display: block;
    width: 600px;
    margin-right: 0;
}

.mid-section h3 {
    font-weight: bold;
    padding: 2px 0;
    color: #26669C;
}

.mid-section p {
    font-size: 12px;
    padding: 2px 0;
}

.mid-section ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0 20px;
}

.mid-section ol {
    list-style-type: decimal;
    padding: 0 20px;
    list-style-position: outside;
}

.mid-section li {
    padding: 2px 0;
}

.mid-section img {
    width: 200px;
    margin: 10px 180px;
}

/*.right {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}*/

.right {
width: 50%;
      vertical-align: top;
      /*margin: 0 auto;*/
      
}

}
.bottom {
    border-top: 5px solid #0087DD;
    border-left: 5px solid #0087DD;
    border-right: 5px solid #0087DD;
    display: inline-block;
    margin-top: 10px;
}
.bottom img {
    width: 75px;
    padding: 10px;
}
.bottom {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    padding: 5px;
}
.bottom h3 {
    font-weight: bold;
    padding: 2px 8px;
    color: #26669C;
}
.bottom p {
    font-size: 14px;
    padding: 2px 10px;
}
